.top {
    background-color: #3500D3;
    height: 170px;
    width: 100%;
}

.bar {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-top: 110px;
    text-align: center;
    vertical-align: bottom;
    font-family: comic sans ms;
    -webkit-text-stroke: 1px #F5F5F5;
}

.example {
    color: red;
    height: 300px;
    width: 900px;
    margin: 0;
    padding-top: 70px;
    position: absolute;
}

.name {
    font-size: 62px;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    font-family: comic sans ms;
    -webkit-text-stroke: 1.5px #F5F5F5;
}

.taimer {
    text-align: right;
}

.body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.lang {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    top: 0%;
    height: 170px;
    width: 100%;
}

.main {
    background-color: #323232;
    height: 100%;
    text-align: center;
    padding-top: 10%;
}

.main p {
    text-align: center;
    padding-top: 70px;
}

.printed {
    background-color: #323232;
    height: 300px;
    width: 900px;
    position: relative;
    align-items: center;
    margin-top: 0;
    margin-left: 250px;
}

p#eng {
    color: black
}

p#rus {
    color: black
}
